{% extends "views/_base/base.html" %}

{% block introduction %}
	<h1>Prefers-color-scheme & prefers-reduced-motion</h1>

	<p>In this code class we'll do some exercises with the media queries prefers-color-scheme and prefers-reduced-motion.</p>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>
	<ul>
		<li><a href="/exercise-1">Exercise one</a></li>
		<li><a href="/exercise-2">Exercise two</a></li>
		<li><a href="/exercise-3">Exercise three</a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>

	<div class="cc-presentation">
		{# TODO: add url of Google Slides presentation #}
		<iframe src="[URL]" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
{% endblock %}
